@page
@model AppNewsRazor.Pages.IndexModel
@{
    ViewData["Title"] = "News";
}

<div class="container">
    <form class="form-inline" method="get">
        <div class="row">

            <div class="col">

               
                <div class="input-group mb-2">
                    <button type="submit" class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                    <input type="search" class="form-control" asp-for="searchTitle"  style="width:70%" name="searchTitle" placeholder="Title..." />
                
                </div>
            </div>

             
           <div class="col">

               <select class="form-select form-select-sm mb-2" aria-label=".form-select-sm example" value="@Model.selectCategory"
                     selected="selected"  name="selectCategory" asp-for="categories" asp-items="Model.categoryOptions">
                   <option value="">category</option>
               </select>
           </div>
           <div class="col">

               <select class="form-select form-select-sm mb-2" aria-label=".form-select-sm example" name="selectCountry"  value="@Model.selectCountry"
                    selected="selected"   asp-for="countries" asp-items="Model.countryOptions">
                   <option value="">country</option>
               </select>

           </div>
           <button type="submit" class="btn btn-primary" style="height:33px; width:5%; " value="Filter">Filter</button>


         </div>
        

    </form>


</div>

<div class="row" style="margin-top:5%">
    @foreach (var item in Model.news)
    {
        <div class="card card-body mt-3" style="width: 22rem;">
            <img src="@Url.Content(item.ImageUrl ??"~/resource/img4.jpg")" class="card-img-top" alt="cover page the news">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <p class="card-text"><small class="text-muted">Piblication date: @Html.DisplayFor(modelItem => item.PublicationDate)</small></p>
                <p class="card-text"><small class="text-muted">Author: @Html.DisplayFor(modelItem => item.Author)</small></p>

                <a target="_blank" href="@Html.DisplayFor(modelItem => item.ArticleUrl)" class="btn btn-primary">more detail</a>
               
            </div>
        </div>
    }
</div>

