@model IEnumerable<LibraryNews.Models.Article>

@{
    ViewData["Title"] = "News";
}

<h1>News</h1>
<hr />
<p>
    <a class="btn btn-outline-primary btn-sm" asp-action="Create">Create New</a>
</p>
<form asp-controller="Articles" asp-action="Index">
    <p>
        <input type="text" class="txt text-sm-left" name="SearchString" placeholder="Title.." />
        <button type="submit" class="btn btn-outline-primary btn-sm">Search</button>
    </p>
</form>
<div class="table-responsive-sm">
    <table class="table-sm table table-bordered border-dark">
        <thead class="table-hover table-primary  ">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    Image Url
                </th>
                <th>
                   Article Url
                </th>
                <th>
                    Date create
                </th>
                <th>
                    Publication date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Visible)
                </th>
                <th>
                   Category
                </th>
                <th>
                  Country
                </th>
                <th>
                   Source
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.ImageUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArticleUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Visible)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdcategoryNavigation.Namecategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdcountryNavigation.Namecountry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdsourceNavigation.Namesource)
                    </td>
                    <td>
                        <a class="btn btn-warning btn-sm w-30"asp-action="Edit" asp-route-id="@item.IdAritcle">Edit</a>
                        <a class="btn btn-info btn-sm w-30"   asp-action="Details" asp-route-id="@item.IdAritcle">Details</a>
                        <a class="btn btn-danger btn-sm w-30" asp-action="Delete" asp-route-id="@item.IdAritcle">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

